.TaskTools {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.TaskTools .order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 35px;
}

input[type="radio"] {
  margin-right: 5px;
}

.TaskTools label {
  display: flex;
  height: 100%;
  align-items: center;
}

.TaskTools button {
  background-color: white;
  color: black;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
}
